<h1>Roster</h1>


<table id="characters" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Level</th>
            <th>Class</th>
            <th>Spec.</th>
            <th>Metiers</th>
        </tr>
    </thead>
    <tbody>
        <% @characters.each do |character| %>
            <tr>
                <td><%= link_to character.name, member_character_path(character), class: character.playable_class %></td>
                <td><%= character.level %></td>
                <td>
                    <span class="hidden"><%= t "playable_classes." + character.playable_class %></span>
                    <div class="wow-icon <%= character.playable_class %>"></div>
                </td>
                <td>
                    <span class="hidden">
                        <%= t "specs." + character.playable_class + "." + character.spec %>
                    </span>
                    <div class="wow-icon <%= character.playable_class %>-<%= character.spec %>"></div>
                </td>
                <td>
                    <span class="hidden">
                        <%= translated_professions character %>
                    </span>
                    <% character.primary_professions.each do |profession| %>
                        <div class="wow-icon <%= profession %>" title="<%= t "primary_professions." + profession %>"></div>
                    <% end %>
                    <% character.secondary_professions.each do |profession| %>
                        <div class="wow-icon <%= profession %>" title="<%= t "secondary_professions." + profession %>"></div>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
