<h1>Personnages</h1>

<div><%= link_to "Nouveau personnage", new_member_character_path %></div>


<table id="characters" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Level</th>
            <th>Class</th>
            <th>Spec.</th>
            <th>Metiers</th>
        </tr>
    </thead>
    <tbody>
        <% @characters.each do |character| %>
            <tr>
                <td><%= link_to character.name, edit_member_character_path(character) %></td>
                <td><%= character.level %></td>
                <td>
                    <span class="hidden"><%= character.playable_class %>-<%= character.spec %></span>
                    <div class="wow-icon <%= character.playable_class %>"></div>
                </td>
                <td>
                    <div class="wow-icon <%= character.playable_class %>-<%= character.spec %>"></div>
                </td>
                <td>
                    <% character.primary_professions.each do |profession| %>
                        <div class="wow-icon <%= profession %>"></div>
                    <% end %>
                    <% character.secondary_professions.each do |profession| %>
                        <div class="wow-icon <%= profession %>"></div>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
