<div><%= link_to "Nouveau personnage", new_member_character_path %></div>


<table id="characters" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>-</th>
            <th>Classe</th>
            <th>Spécialisation</th>
            <th>Métiers principaux</th>
            <th>Métiers secondaires</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @characters.each do |character| %>
            <tr>
                <td><%= character.name %></td>
                <td><%= character.level %></td>
                <td><%= character.playable_class %></td>
                <td><%= character.spec %></td>
                <td><%= character.primary_professions.join(', ') %></td>
                <td><%= character.secondary_professions.join(', ') %></td>
                <td><%= link_to "Edit", edit_member_character_path(character), class: "button" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
