<div><%= link_to "Nouveau personnage", new_member_character_path %></div>


<table id="characters" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>-</th>
            <th>-</th>
            <th>-</th>
            <th>Métiers</th>
            <th>Secondaires</th>
        </tr>
    </thead>
    <tbody>
        <% @characters.each do |character| %>
            <tr>
                <td><%= link_to character.name, edit_member_character_path(character) %></td>
                <td class="table-icon"><%= character.level %></td>
                <td class="table-icon"><div class="wow-icon <%= character.playable_class %>"></div></td>
                <td class="table-icon"><div class="wow-icon <%= character.playable_class %>-<%= character.spec %>"></div></td>
                <td><%= character.primary_professions.join(', ') %></td>
                <td><%= character.secondary_professions.join(', ') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
