<h1 class="<%= @character.playable_class %>"><%= @character.name %></h1>

<% if current_user.can_edit_character? @character %>
    <div class="page-actions">
        <%= link_to "Editer", edit_member_character_path(@character), class: 'button' %>
    </div>
<% end %>


<div class="character-show-crest <%= @character.playable_class %>">
    <div class="character-show-level <%= @character.playable_class %>"><%= @character.level %></div>
    <div class="character-show-class <%= @character.playable_class %>"><div class="wow-icon <%= @character.playable_class %>-<%= @character.spec %>"></div></div>
</div>


<div class="character-show-professions">
    <% @character.primary_professions.each do |profession| %>
        <div class="wow-icon <%= profession %>"></div>
    <% end %>

    <% @character.secondary_professions.each do |profession| %>
        <div class="wow-icon <%= profession %>"></div>
    <% end %>
</div>

<div class="feed">
    <%= render @histories %>
</div>