<div class="calendar-event-preview-container <%= calendar_event.raid %>">

    <div class="calendar-event-name"><%= calendar_event.name %></div>
    <div class="calendar-event-date">
        <strong><%= l calendar_event.date, format: :short %></strong> - Créé par <span><%= calendar_event.user.nickname %></span>
    </div>

    <div class="calendar-event-infos">

    </div>

    <div class="calendar-event-actions">
        <%= link_to "Détails et participation", member_calendar_event_path(calendar_event) %>
    </div>

</div>