<div class="calendar-event-stats">
    <div>
        <strong><%= stats[:confirmed] %></strong>
        /
        <strong><%= stats[:stand_by] %></strong>
        /
        <strong><%= stats[:refused] %></strong>
        (confirmés, en attente, refusés)
    </div>
    <div>
        <strong><%= stats[:tank] %></strong> Tank(s)
        <strong><%= stats[:healer] %></strong> Heal(s)<br>
        <strong><%= stats[:melee] %></strong> CaC(s)
        <strong><%= stats[:range] %></strong> Distance(s)
    </div>
</div>