<div class="your-participation">
    <div class="your-participation-toggle">
        <% if event_participation.persisted? %>
            Votre disponibilité actuelle :
            <strong><%= t "presence." + event_participation.presence %></strong>
            avec le personnage
            <strong><%= event_participation.character.name %></strong>
            <br>
            <div class="link"><%= link_to "Modifier votre disponibilité", "", class: "button" %></div>
        <% else %>
            <%= link_to "Indiquez votre disponibilité", "", class: "button" %>
        <% end %>
    </div>

    <div class="your-participation-form">
        <%= render 'member/event_participations/form', event_participation: event_participation %>
    </div>
</div>