<div class="calendar-event-preview-container <%= @calendar_event.raid %>">

    <div class="calendar-event-name"><%= @calendar_event.name %></div>
    <div class="calendar-event-date">
        <strong><%= l @calendar_event.date, format: :short %></strong> - Créé par <span><%= @calendar_event.user.nickname %></span>
    </div>

    <div class="participants">
        <ul>
            <% @calendar_event.event_participations.select(&:persisted?).each do |event_participation| %>
                <li>
                    <%= event_participation.character.name %>
                </li>
            <% end %>
        </ul>
    </div>


<div>