<h1><%= @calendar_event.name %></h1>
<div class="calendar-event-info">
    <div class="calendar-event-date"><%= l @calendar_event.date, format: :long %></div>
    <div><%= @calendar_event.description %></div>
    <div class="calendar-event-owner">Créé par <%= @calendar_event.user.nickname %></div>
</div>


<div class="you-participation">
    <% character = current_user.main_character %>

    <%= form_for [:member, @event_participation] do |f| %>
        <%= f.hidden_field :calendar_event_id %>
        <%= f.select :character_id, options_from_collection_for_select(current_user.characters.all, :id, :name, @event_participation.character_id), {}, {class: "select"} %>
        <%= f.select :presence, options_for_select(presence_labels, @event_participation.presence), {}, {class: "select"}%>
        <%= f.submit %>
    <% end %>
</div>

<ul>
    <% @calendar_event.event_participations.select(&:persisted?).each do |event_participation| %>
        <li>
            <%= event_participation.character.name %> -
            <%= event_participation.presence %>
            <%= event_participation.status %>

            <% if current_user.officer? %>
                <%= link_to("Confirmé", member_event_participation_path(event_participation, event_participation: {status: 'confirmed'}), method: :put) unless event_participation.status == 'confirmed' %>
                <%= link_to("En attente", member_event_participation_path(event_participation, event_participation: {status: 'stand_by'}), method: :put) unless event_participation.status == 'stand_by' %>
                <%= link_to("Refusé", member_event_participation_path(event_participation, event_participation: {status: 'refused'}), method: :put) unless event_participation.status == 'refused' %>
            <% end %>
        </li>
    <% end %>
</ul>

<% if current_user.officer? %>
    <%= link_to "Editer", edit_member_calendar_event_path(@calendar_event), class: "button" %>
    <%= link_to "Supprimer", member_calendar_event_path(@calendar_event), class: "button", method: :delete, confirm: "Confirmer la suppression" %>
<% end %>