
<h1><%= @calendar_event.name %></h1>

<% if current_user.officer? %>
    <div class="page-actions">
        <%= link_to "Editer", edit_member_calendar_event_path(@calendar_event), class: "button" %>
        <%= link_to "Supprimer", member_calendar_event_path(@calendar_event), class: "button", method: :delete, confirm: "Confirmer la suppression" %>
    </div>
<% end %>


<div class="calendar-event-banner <%= @calendar_event.raid %>">
    <div class="calendar-event-info">
        <div class="calendar-event-date"><%= l @calendar_event.date, format: :long %></div>
        <div><%= @calendar_event.description %></div>
        <div class="calendar-event-owner">Créé par <%= @calendar_event.user.nickname %></div>
    </div>
</div>


<%= render 'your_participation', event_participation: @event_participation %>


<div class="roster-manager">
    <div class="raid-roster">
        <%= render 'roster_participations', name: 'Confirmés', participations_by_role: @calendar_event.roster_by_role %>
    </div>

    <div class="raid-sidelines">
        <%= render 'roster_participations', name: 'En attente', participations_by_role: @calendar_event.sidelines_by_role %>
    </div>

    <div class="raid-refused">
        <div class="raid-position-name">Absents et refusés</div>
        <%= render @calendar_event.refused_participations %>
    </div>
</div>
