<%= form_for [:member, @user] do |f| %>

    <div>Email : <%= f.text_field :email, class: "text-field" %></div>
    <div>Pseudo : <%= f.text_field :nickname, class: "text-field" %></div>
    <% if @user != current_user && current_user.officer? %>
        <div>Rang : <%= f.select :rank, options_for_select(rank_labels(current_user), @user.rank), {}, {class: "select"} %></div>
    <% end %>
    <div><%= f.submit class:"button" %></div>

<% end %>