<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <title>Stones</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat&display=swap" rel="stylesheet">

    <link rel="icon"
        type="image/png"
        href="images/favicon-16x16.png">
</head>



<body>
    <div id="wrapper">
        <div class="logo">
            <img src="images/stones_logo01.png" alt="logo"/>
        </div>

        <nav id="nav">
            <ul>
                <li><a href="#intro" class="scrolllink active">Présentation</a></li>
                <li><a href="#first" class="scrolllink">Recrutement</a></li>
                <li><a href="#second" class="scrolllink">Contact</a></li>
                <li><%= link_to "Espace membre", member_path %></li>
                <li><a href="https://www.guilded.gg/Stones-Auberdine" target="_blank">Calendrier</a></li>
            </ul>
        </nav>

        <div id="container">
            <%= yield %>
        </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>