<!DOCTYPE html>
<html>
  <head>
    <title>Stones</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'member', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:200,300,400&display=swap" rel="stylesheet">
    <link rel="icon" type="/image/png" href="/images/favicon-16x16.png">
  </head>

  <body>
    <div id="wrapper">


      <div id="container">
        <%= yield %>
      </div>

      <nav id="nav">
        <div class="member-logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>
        <ul>
          <li><%= link_to "Dashboard", member_path %></li>
          <% if current_user.member? %>
            <li><%= link_to "Calendrier", member_calendar_path %></li>
            <li><%= link_to "Roster", member_characters_path %></li>
            <li><%= link_to "DKP", "https://docs.google.com/spreadsheets/d/15f6wKtBqHDZipibd-XpGMfrNXMGoWzDawHfCaPVQVxM/edit#gid=666143556" %></li>
          <% end %>
          <% if current_user.officer? %>
            <li><%= link_to "Membres", member_users_path %></li>
          <% end %>
          <li><%= link_to "Mon compte", edit_member_user_path(current_user.id) %></li>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>

    </div>


    <%= javascript_include_tag 'member' %>
  </body>
</html>
